<div class="container">
    <div class="loginForm">
        <img src="../../assets/images/logo1.svg" alt="">

        <p class="title">Comece a coletar pokémons!</p>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="inputForm">
                    <input id="email" 
                    type="email" 
                    formControlName="email" 
                    placeholder="Email">
                  </div>
                  <ng-container *ngIf="loginForm.controls.email.touched">
                    <span *ngIf="loginForm.controls.email.errors?.required">
                        Campo obrigatório
                    </span>
                    <span *ngIf="loginForm.controls.email.errors?.email">
                        E-mail inválido
                    </span>
                </ng-container>
                
                  <div class="inputForm">
                    <input id="password" 
                    type="password" 
                    formControlName="password" 
                    placeholder="Senha">
                  </div>
                  <ng-container *ngIf="loginForm.controls.password.touched">
                    <span *ngIf="loginForm.controls.password.errors?.required">
                        Campo obrigatório
                    </span>
                </ng-container>

                <div class="inputForm">
                    <button class="button" type="submit" [disabled]="!loginForm.valid">Entrar</button>
                </div>
              
              </form>

              <button class="changeTheme">
                <fa-icon [icon]="faMoon"></fa-icon>
                <p>Tema escuro</p>
            </button>

    </div>
    <div class="background">
        <div class="background-light"></div>
    </div>
</div>