/* You can add global styles to this file, and also import other style files */
@import "assets/styles/colors.scss";
@import "assets/styles/images.scss";

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: $gray-100;
}