<div class="loading" *ngIf="isLoading">
  <div class="loader"></div>
</div>

<div *ngIf="!isLoading">
  <div class="header">
    <div class="logo">
      <img class="logoHeader" src="../../assets/images/logo2.svg" alt="Logo">
    </div>
    <div class="menu">
      <a (click)="favorites()">Favoritos <span class="item"
          *ngIf="this.appState.favoritesPokemons.length > 0">{{this.appState.favoritesPokemons.length}}</span></a>
      <a (click)="search()">Procurar</a>
      <a class="active" (click)="home()">Ver Todos</a>
    </div>
    <button class="exit" (click)="exit()">
      <p>Sair</p>
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </button>
  </div>

  <div class="contain">

    <div class="filterGroup">
      <div class="filterItem">
        <button [class]="todos ? 'actived' : 'notActived'" (click)="verTodos()">
          <p>Todos</p>
        </button>
        <button [class]="fireButton ? 'actived' : 'notActived'" (click)="filterType(fire)">
          <p>Fire</p>
        </button>
        <button [class]="electricButton ? 'actived' : 'notActived'" (click)="filterType(electric)">
          <p>Electric</p>
        </button>
        <button [class]="waterButton ? 'actived' : 'notActived'" (click)="filterType(water)">
          <p>Water</p>
        </button>
      </div>
    </div>

    <div class="cardGroup">
      <div class="card" *ngFor="let pokemon of pokemons">
        <div [class]="pokemon.isFav ? 'iconFavorited' : 'iconFavorite'">
          <fa-icon [icon]="faHeart" (click)="fav(pokemon)"></fa-icon>
        </div>

        <div class="pokeImg">
          <img [src]="pokemon.sprites.other.dream_world.front_default" class="imagemPoke" [alt]="pokemon.name">
        </div>

        <div class="details">
          <p class="titlePokemon">{{pokemon.name | titlecase}}</p>
          <p class="idPokemon">ID: {{pokemon.id}}</p>

          <div class="types">
            <div *ngFor="let type of pokemon.types">
              <span [class]="type.type.name">{{type.type.name}}</span>
            </div>
          </div>

        </div>
        <div class="verDetalhes">
          <button class="buttonVer" (click)="openModal('modal', pokemon)">
            <p class="textButton">Ver Detalhes</p>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="validar">
  <modal id="modal">
    <div class="modal-header">
      <p class="titleModal">Detalhes</p>
      <fa-icon class="iconClose" [icon]="faTimes" (click)="closeModal('modal');"></fa-icon>
    </div>
    <hr class="solid">
    <div class="poke">
      <p class="titlePoke">{{detailModal.name | titlecase}}</p>
      <div class="separate">
        <div class="detailModalImg">
          <img [src]="detailModal.sprites.front_default" class="imagemDetailPoke" [alt]="detailModal.name">
        </div>
        <div class="detailModalImg">
          <img [src]="detailModal.sprites.back_default" class="imagemDetailPoke" [alt]="detailModal.name">
        </div>
      </div>

      <div class="measures">
        <p class="detailHeight">{{(detailModal.height * 0.30) | number }}M</p>
        <p class="detailWeight">{{(detailModal.weight * 2.2) | number }}KG</p>
      </div>

      <div class="typesModal">
        <div *ngFor="let type of detailModal.types">
          <span [class]="type.type.name">{{type.type.name}}</span>
        </div>
      </div>


      <div class="abilities">
        <p class="titleAbilities">Statistics</p>

        <div class="abilitie">
          <p class="titleAbilitie">HP</p>
          <div class="bar">
            <progress id="progressBar" max="100" [value]="detailModal.stats[0].base_stat"></progress>
          </div>
          <p>{{detailModal.stats[0].base_stat}}</p>
        </div>

        <div class="abilitie">
          <p class="titleAbilitie">ATK</p>
          <div class="bar">
            <progress id="progressBar" max="100" [value]="detailModal.stats[1].base_stat"></progress>
          </div>
          <p class="valueAbilitie">{{detailModal.stats[1].base_stat}}</p>
        </div>

        <div class="abilitie">
          <p class="titleAbilitie">DEF</p>
          <div class="bar">
            <progress id="progressBar" max="100" [value]="detailModal.stats[2].base_stat"></progress>
          </div>
          <p class="valueAbilitie">{{detailModal.stats[2].base_stat}}</p>
        </div>
        <div class="abilitie">
          <p class="titleAbilitie">S.ATK</p>
          <div class="bar">
            <progress id="progressBar" max="100" [value]="detailModal.stats[3].base_stat"></progress>
          </div>
          <p class="valueAbilitie">{{detailModal.stats[3].base_stat}}</p>
        </div>
        <div class="abilitie">
          <p class="titleAbilitie">S.DEF</p>
          <div class="bar">
            <progress id="progressBar" max="100" [value]="detailModal.stats[4].base_stat"></progress>
          </div>
          <p class="valueAbilitie">{{detailModal.stats[4].base_stat}}</p>
        </div>
        <div class="abilitie">
          <p class="titleAbilitie">SPD</p>
          <div class="bar">
            <progress id="progressBar" max="100" [value]="detailModal.stats[5].base_stat"></progress>
          </div>
          <p class="valueAbilitie">{{detailModal.stats[5].base_stat}}</p>
        </div>
      </div>

      <div class="favButton">

        <button class="button" (click)="fav(detailModal)" *ngIf="!detailModal.isFav">
          <fa-icon [icon]="faHeart" class="faHeart"></fa-icon>
          Adicionar aos Favoritos
        </button>
        <button class="buttonRemover" (click)="fav(detailModal)" *ngIf="detailModal.isFav">
          Remover dos Favoritos
        </button>
      </div>
    </div>
  </modal>
</div>
