@import "../../assets/styles/colors.scss";
@import "../../assets/fonts/fonts.scss";

.header {
  width: auto;
  height: 5vh;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  overflow: hidden;
}

.logoHeader {
  width: 4vw;
}

.menu {
  overflow: hidden;
}

.menu a {
  float: left;
  display: block;
  color: $gray-500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}


.menu a:hover {
  border-bottom: 3px solid $gray-500;
}

.menu a.active {
  border-bottom: 3px solid $gray-500;
}

.exit {
  background-color: $primary;
  width: 5vw;
  padding: 0.3em;
  border: 1px solid $gray-400;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 12px;
  font-weight: 300;
}


.contain {
  width: 100%;
  height: 100%;
  margin-top: 4vh;
  align-items: flex-start;
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.actived {
  margin-left: 0.5vw;
  width: 7.5vw;
  height: 4vh;
  border-radius: 4px;
  background-color: $primary;
  border: none;
}

.notActived {
  margin-left: 0.5vw;
  width: 7.5vw;
  height: 4vh;
  border-radius: 4px;
  background-color: $gray-100;
  border: 1px solid $gray-300;
}

.cardGroup {
  margin-top: 2vh;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.7vw;
}

.card {
  width: 10vw;
  min-height: 30vh;
  box-shadow: 0px 15px 18px -10px $gray-200;
  border-radius: 10px;
  background-color: $white;
  margin: 10px;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $gray-500;
  color: $white;
  padding: 2px 8px;
  font-size: 10px;
  font-weight: 600;
}

.iconFavorite {
  display: flex;
  justify-content: right;
  margin-right: 0.5vw;
  margin-top: 1vh;
  color: $gray-200;
}

.iconFavorited {
  display: flex;
  justify-content: right;
  margin-right: 0.5vw;
  margin-top: 1vh;
  color: $danger;
}

.pokeImg {
  display: flex;
  justify-content: center;
  max-height: 80px;
}

.imagemPoke {
  width: 50%;
}

.details {
  margin-left: 1vw;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.types {
  margin-top: 1vh;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.titlePokemon {
  font-size: 18px;
  font-weight: 600;
}

.idPokemon {
  font-size: 13px;
  font-weight: 400;
}

.verDetalhes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.buttonVer {
  width: 7.8vw;
  height: 4vh;
  background-color: $primary;
  border-radius: 4px;
  border: none;
}

.textButton {
  font-size: 10px;
  font-weight: 600;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid $primary;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-header {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;

}

.titleModal {
  font-size: 16px;
  font-weight: 400;
}

.solid {
  margin-top: 18px;
  border-top: 0.6px solid $gray-200;
}

.iconClose {
  color: $gray-300;
}

.poke {
  margin-top: 18px;
}

.titlePoke {
  font-size: 24px;
  font-weight: 600;
}

.detailModalImg {
  max-height: 80px;
  max-width: 80px;
  background-color: $gray-100;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
  border-radius: 5px;
}

.imagemDetailPoke {

}

.separate {
  display: flex;
  margin-top: 13px;
}

.measures {
  display: flex;
  margin-top: 24px;
}

.detailHeight {
  font-size: 18px;
  font-weight: 500;
  margin-right: 18px;
}

.detailWeight {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}

.typesModal {
  margin-top: 3vh;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.abilitie {
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.abilities {
  margin-top: 4vh;
}

.titleAbilities {
  font-size: 13px;
  font-weight: 600;
  color: $gray-200;
}

.bar {
  width: 17vw;
}

progress {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 8px;
}

::-webkit-progress-bar {
  background-color: $gray-100;
}

::-webkit-progress-value {
  background-color: $primary;
}

.titleAbilitie{
  padding-right: 20px;
  justify-content: end;
}

.valueAbilitie {
  padding-left: 20px;
}

.favButton {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 22vw;
  height: 5vh;
  background-color: $primary;
  border-radius: 8px;
  border: none;
}

.buttonRemover {
  width: 22vw;
  height: 5vh;
  background-color: $danger;
  color: $white;
  border-radius: 8px;
  border: none;
}

.faHeart {
  color: $gray-400;
  margin-right: 0.2vw;
}
